<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head><title>Print All</title></head>
<body>
	<table>
	<tr><td>id</td><td>Name</td></tr>
	<tr th:each="driver: ${all}">
    <td th:text="${driver.id}" />
    <td th:text="${driver.name}" />
    
    <td><form th:method="GET" th:action="@{/{id}/edit(id=${driver.id})}"><input type="submit" value="edit" /></form></td>
    <td><form th:method="DELETE" th:action="@{/{id}(id=${driver.id})}"><input type="submit" value="delete"/></form></td>
	</tr>
	</table>
	<br/>
	<a href="/">Back</a>
</body>
</html>